h2 {
	text-align: center;
	margin-bottom: 0px;
}

h3 {
	text-align: center;
}

h4 {
	text-align: center;
	margin-top: 0px;
}

p {
	width: 75%;
	padding: 10px;
	margin: 10px auto 10px auto;
}

img.margin {
	display: block;
	margin-right: auto;
	margin-left: auto;
	width: 30%;
	height: 30%;
}

.definition {
	display: block;
	width: 65%;
	margin: auto;
	padding: 10px;
}

a.bloglink {
	color: #000000;
	text-transform: uppercase;
	text-decoration: none;
	padding: 5px 30px 5px 30px;
}

a.bloglink:hover, a.bloglink.on {
	color:#3f434a;
	background-color: #ffffff;
}


#blogs {
	margin-top: 0px;
	margin-left: auto;
	margin-right: auto;
	width: 320px;
	text-align: left;
	font-family: 'Josefin Slab', arial, serif;
	font-weight: 800;
	font-size: 25px;
}

#bloglist {
	display: block;
	margin-bottom: 20px;
}

li > span {
	font-weight: bold;
}

p > span {
	width: 300px;
	display: block;
	margin: 10px auto;
}

pre {
	width: 75%;
    margin: 0 auto;
    background-color: white;
    padding-top: 15px;
}

code {
	background-color: white;
	font-weight: bold;
}