
a.projectlink {
	color: #000000;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 25px;
	padding: 5px 30px 5px 30px;
}

a.projectlink:hover, a.projectlink.on {
	color:#3f434a;
	background-color: #ffffff;
}


#projects {
	margin-top: 0px;
	margin-left: auto;
	margin-right: auto;
	width: 330px;
	text-align: left;
	font-family: 'Josefin Slab', arial, serif;
	font-weight: 800;
}

#project {
	display: block;
	margin-bottom: 30px;

}

